<div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">
    <div data-role="header">
        <div data-role="navbar">
            Incidente
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="button">Back</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" href="views/addCommentView.html">Editar</a>
        </div>
    </div>

    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div class="activity-content">
            <h2 id="lblProyecto" class="person-name">Proyecto</h2>
            <span id="txtProyecto" data-bind="text: NombreProyecto" class="user-share-txt"></span>
            <h2 id="lblFIncidente" class="person-name">Fecha de Incidente</h2>
            <span id="txtFIncidente" data-bind="text: CreatedAtFormatted" class="user-share-txt"></span>
            <h2 id="lblDescripcion" class="person-name">Descripción</h2>
            <span id="txtDescripcion" data-bind="text: Descripcion" class="user-share-txt"></span>
            <h2 id="lblEstado" class="person-name">Estado</h2>
            <span id="txtEstado" data-bind="text: EstadoFormatted" class="user-share-txt"></span>
            <h2 id="lblResponsable" class="person-name">Responsable</h2>
            <span id="txtResponsable" data-bind="text: ResponsableFormatted" class="user-share-txt"></span>
            <h2 id="lblFSolucion" class="person-name">Fecha Solución</h2>
            <span id="txtFSolucion" data-bind="text: FechaSolucionFormatted" class="user-share-txt"></span>
            <h2 id="lblDetalleSolucion" class="person-name">Detalle solución</h2>
            <span id="txtDetalle" data-bind="text: DetalleFormatted" class="user-share-txt"></span>
            
            
            <span id="activityDate" class="time-span" data-bind="text: FechaCreacionnFormatted"></span>

        </div>
    </div>
    
    <!--div data-role="footer">
        <a data-role="button" data-bind="visible: isVisible" data-click="app.Activity.remove" class="btn btn-delete">Eliminar</a>
    </div-->
</div>

<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="comment-content">
        <h2 class="person-name">${User()}</h2>
        <span class="time-span">${CreatedAtFormatted()}</span>
        <a class="user-share-txt">${Comment}</a>
    </div>
</script>
