<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-activity-view"
    data-init="app.AddActivity.init" data-show="app.AddActivity.show" data-model="app.AddActivity">
    <div data-role="header">
        <div data-role="navbar">
            Incidente
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancelar</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: saveActivity">Agregar</a>
        </div>
    </div>
    <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
        <h2 class="person-name">Proyecto</h2>
        <select id="proyectoPick" onchange="app.AddActivity.onSelectChange(this)">
                    <option value="0" selected>Proyecto</option>
                </select>
        <h2 class="person-name">Descripción del incidente</h2>
        <div class="user-share">
            <textarea id="newStatus" placeholder="Descripción" required validationMessage="Una descripcion del incidente es necesaria!"></textarea>
        </div>
        <h2 class="person-name">Fecha del incidente</h2>
        <input id="fechaIncidentePick"/>
    </div>
    <script>app.AddActivity.poblarProyectos()</script>
</div>
