<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-comment-view"
    data-init="app.AddComment.init" data-show="app.AddComment.show" data-model="app.AddComment">
    <div data-role="header">
        <div data-role="navbar">
            Editar Incidente
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancelar</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: saveComment">Guardar</a>
        </div>
    </div>
    <div id="enterComment" class="share-form-wrp" data-role="listview" data-style="inset">
        <h2 class="person-name">Proyecto</h2>
        <select id="proyectoPickEdit" onchange="app.AddComment.onSelectChange(this)">
                    <option value="0" selected>Proyecto</option>
                </select>
        <h2 class="person-name">Descripción del incidente</h2>
        <div class="user-share">
            <textarea id="newStatusEdit" placeholder="Descripción" required validationMessage="Una descripcion del incidente es necesaria!"></textarea>
        </div>
        <h2 class="person-name">Fecha del incidente</h2>
        <input id="fechaIncidentePickEdit" class="ui-input-text ui-body-f ui-corner-all ui-shadow-inset ui-mini"/>
    </div>

</div>
